{% extends 'budget/base.html' %}
{% load static %}
{% block body %}
<style>
.add-content {
    width: 100%;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    margin: 0em auto;
    /* font-size: 20px; */
    line-height: 30px;
    /* text-align: justify; */
    height: 100%;
}
</style>
<div class="add-content">
    <div class="test">
    <div class="row">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <label for="categoryInput">Expense Categores (hit Enter after every category)</label>
        <input type="text" name="categoryInput" id="categoryInput">
        <input type="hidden" name="categoriesString">

        <ul id="categoriesContainer">
            
        </ul>

        <button type="submit" class="btn">Start Project</button>
    </form>
</div>
</div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}