{% extends 'budget/base.html' %}
    
{% block body %}
<div class="content">
    <div class="test">
    <div class="row">
    {% for project in project_list %}
        <div class="col s12 l3">
            <div class="card-panel">
                <h4>{{ project.name }}</h4>
                <a href="{% url 'budget:detail' project.slug %}" class="btn">View</a>
            </div>
        </div>
    {% empty %}
    <div class="noproject-wrapper center" style="margin: 4em 4em !important;">
            <h3 class="grey-text">Sorry , you dont have any projects, yet</h3>
            <a href="{% url 'budget:create' %}" class="btn-large grey">
                <i class="material-icons white-text left">add_circles</i>
                <span class="bold">Add project</span>
            </a>
        </div>
    {% endfor %}
    </div>
    </div>
    </div>


    
{% endblock %}